<h2>Party Details Table</h2>

<!-- <div>
  <button class="btn btn-info" (click)="getpartydetails()">
    Fetch Details
  </button> -->

<div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th>Booth No</th>
        <th>Candidate Party Name</th>
        <th>Candidate Name</th>
        <th>Candidate Phone No</th>
        <th>Candidate City</th>

        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of object">
        <td>{{ obj.booth }}</td>
        <td>{{ obj.partyname1 }}</td>
        <td>{{ obj.candidatename1 }}</td>
        <td>{{ obj.candidatephoneno1 }}</td>
        <td>{{ obj.candidatecity1 }}</td>
        <td>
          <button
            class="text-danger btn btn-info"
            (click)="deletepartydetail(obj, obj)"
          >
            Delete
          </button>
        </td>
      </tr>

      <tr *ngFor="let obj of object">
        <td>{{ obj.booth }}</td>
        <td>{{ obj.partyname2 }}</td>
        <td>{{ obj.candidatename2 }}</td>
        <td>{{ obj.candidatephoneno2 }}</td>
        <td>{{ obj.candidatecity2 }}</td>
        <td>
          <button
            class="text-danger btn btn-info"
            (click)="deletepartydetail(obj, obj)"
          >
            Delete
          </button>
        </td>
      </tr>
      <tr *ngFor="let obj of object">
        <td>{{ obj.booth }}</td>
        <td>{{ obj.partyname3 }}</td>
        <td>{{ obj.candidatename3 }}</td>
        <td>{{ obj.candidatephoneno3 }}</td>
        <td>{{ obj.candidatecity3 }}</td>
        <td>
          <button
            class="text-danger btn btn-info"
            (click)="deletepartydetail(obj, obj)"
          >
            Delete
          </button>
        </td>
      </tr>
      <tr *ngFor="let obj of object">
        <td>{{ obj.booth }}</td>
        <td>{{ obj.partyname4 }}</td>
        <td>{{ obj.candidatename4 }}</td>
        <td>{{ obj.candidatephoneno4 }}</td>
        <td>{{ obj.candidatecity4 }}</td>
        <td>
          <button
            class="text-danger btn btn-info"
            (click)="deletepartydetail(obj, obj)"
          >
            Delete
          </button>
        </td>
      </tr>
      <tr *ngFor="let obj of object">
        <td>{{ obj.booth }}</td>
        <td>{{ obj.partyname5 }}</td>
        <td>{{ obj.candidatename5 }}</td>
        <td>{{ obj.candidatephoneno5 }}</td>
        <td>{{ obj.candidatecity5 }}</td>
        <td>
          <button
            class="text-danger btn btn-info"
            (click)="deletepartydetail(obj, obj)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th>Booth No</th>
        <th>Candidate Party Name</th>
        <th>Candidate Name</th>
        <th>Candidate Phone No</th>
        <th>Candidate City</th>

        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of object">
        <td>{{ obj.booth }}</td>
        <td>{{ obj.partyname1 }}</td>
        <td>{{ obj.candidatename1 }}</td>
        <td>{{ obj.candidatephoneno1 }}</td>
        <td>{{ obj.candidatecity1 }}</td>
        <td>
          <button
            class="text-danger btn btn-info"
            (click)="deletepartydetail(obj, obj)"
          >
            Delete
          </button>
        </td>
      </tr>

      <tr *ngFor="let obj of object">
        <td>{{ obj.booth }}</td>
        <td>{{ obj.partyname2 }}</td>
        <td>{{ obj.candidatename2 }}</td>
        <td>{{ obj.candidatephoneno2 }}</td>
        <td>{{ obj.candidatecity2 }}</td>
        <td>
          <button
            class="text-danger btn btn-info"
            (click)="deletepartydetail(obj, obj)"
          >
            Delete
          </button>
        </td>
      </tr>
      <tr *ngFor="let obj of object">
        <td>{{ obj.booth }}</td>
        <td>{{ obj.partyname3 }}</td>
        <td>{{ obj.candidatename3 }}</td>
        <td>{{ obj.candidatephoneno3 }}</td>
        <td>{{ obj.candidatecity3 }}</td>
        <td>
          <button
            class="text-danger btn btn-info"
            (click)="deletepartydetail(obj, obj)"
          >
            Delete
          </button>
        </td>
      </tr>
      <tr *ngFor="let obj of object">
        <td>{{ obj.booth }}</td>
        <td>{{ obj.partyname4 }}</td>
        <td>{{ obj.candidatename4 }}</td>
        <td>{{ obj.candidatephoneno4 }}</td>
        <td>{{ obj.candidatecity4 }}</td>
        <td>
          <button
            class="text-danger btn btn-info"
            (click)="deletepartydetail(obj, obj)"
          >
            Delete
          </button>
        </td>
      </tr>
      <tr *ngFor="let obj of object">
        <td>{{ obj.booth }}</td>
        <td>{{ obj.partyname5 }}</td>
        <td>{{ obj.candidatename5 }}</td>
        <td>{{ obj.candidatephoneno5 }}</td>
        <td>{{ obj.candidatecity5 }}</td>
        <td>
          <button
            class="text-danger btn btn-info"
            (click)="deletepartydetail(obj, obj)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
