<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Company Page</h2>
      <br />
      <h4 class="text-justify">
        Election Management Software is one of the top Political Consulting
        Firms in India. The need for accurate analysis in today’s world is as
        important as the information gathered through that analysis. A
        combination of these two gives rise to a powerful methodology which
        assesses the current scenario and helps in decision making; optimizing
        the available resources for gaining the best possible returns. We, at
        Electionmanagement, are in the business of gathering valuable and
        accurate information, then analyzing it to generate political insights.
        For this purpose, we employ innovative and cutting-edge tools. At
        present, we are using the expertise of our staff and technology alike to
        help elected representatives manage their constituencies in an organized
        manner.
      </h4>
      <br />
      <h4>
        Our management team consists of the alumnus of topmost educational
        institutes such as IIT, IIM and NIT. The IT and database management
        department is headed by engineers and MCAs from prestigious institutes.
        Experienced social sciences post-graduates look after political, social
        and economic research division and graduates from leading institutes of
        Mass Communication and Political Science work as surveyors and data
        collectors.
      </h4>
    </div>
    <div class="col-sm-4">
      <span>
        <img
          src="../../assets/image/unnamed.gif"
          height="500"
          width="450"
          alt="gif123"
        />
      </span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span
        ><img
          src="../../assets/image/MISSION AND VISION 1.gif"
          height="500"
          width="400"
          alt="mission"
      /></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2>
      <br />
      <h4>
        <strong>MISSION:</strong> Our mission is to deliver hassle-free services
        to our clients. We provide a widespread, all-inclusive analysis of
        compiled data to smoothen the process of tabulating records by using a
        comprehensive management system.
      </h4>
      <br />

      <h4>
        <strong>VISION:</strong> Election Management Software is a center of
        excellence in the field of Election Studies. We believe in and are proud
        of our core values of “integrity and loyalty” towards our client. Having
        been in the business of political consulting from the last 12 years, we
        skillfully help our clients in achieving their goals, winning an
        election, meeting expectations of the people and rising to the top. We
        assist them in assessing the current trends; help shape the image of the
        leader or candidate along with party position through effective
        scientific methods. We use latest methods for assessing political
        trends, provide the best platform for creating a brand leadership image
        and equip them with the technology to sustain it.
      </h4>
    </div>
  </div>
</div>
