<div class="body123">
  <nav class="nav nav-bar bg-grey align-items-center">
    <h3 class="text-center text-white col-md-12 pt-5">Admin Login form</h3>
  </nav>
  <div id="login">
    <div class="container" style="margin-top: -100px">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">
            <form id="login-form" class="form" [formGroup]="adminloginform">
              <h3 class="text-center text-info">Login</h3>
              <div class="form-group">
                <label for="username" class="text-info">Username:</label><br />
                <input
                  type="text"
                  name="username"
                  id="username"
                  class="form-control"
                  formControlName="username"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    adminloginform.controls['username'].touched &&
                    adminloginform.hasError('required', 'username')
                  "
                >
                  *username is required</span
                >
              </div>
              <div class="form-group">
                <label for="password" class="text-info">Password:</label><br />
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form-control"
                  formControlName="password"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    adminloginform.controls['password'].touched &&
                    adminloginform.hasError('required', 'password')
                  "
                >
                  *username is required</span
                >
              </div>
              <div class="form-group previous">
                <br />
                <button
                  class="btn btn-info btn-md"
                  (click)="adminlogindata(this.adminloginform.value)"
                >
                  submit
                </button>
                <p class="text-danger" style="text-align: center">
                  {{ notify }}
                </p>
              </div>
              <div class="form-group next">
                <!-- <div class="text-danger">
                  <a routerLink="/signupadminlogin">Signup</a>
                </div> -->
              </div>
              <br />&nbsp;
              <!-- <div id="Forget username or password" class="text-right pt-5">
                <p>
                  Forget Password/Username?
                  <a href="#" class="text-info text-white">Click here!</a>
                </p>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
