.body123{
      background-color: #64c1e6;
      height:88.5vh;
      margin: 0;
      padding: 0;
  }
  #login .container #login-row #login-column #login-box {
      background-color: #EAEAEA;
      border: 1px solid #9C9C9C;
      height: 320px;
      margin-top: 120px;
      max-width: 600px;
  }
  #login .container #login-row #login-column #login-box #login-form {
      padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
      margin-top: -85px;
  }
  .previous {
      text-align: left;
  }    
    .next {
      text-align: right;
  }