<div class="body123">
  <nav class="nav nav-bar bg-grey align-items-center">
    <h3 class="text-center text-white col-md-12 pt-5">Citizen Login form</h3>
  </nav>
  <div id="login">
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">
            <form id="login-form" class="form" [formGroup]="citizenloginform">
              <h3 class="text-center text-info">Login</h3>
              <div class="form-group">
                <label for="citizenadhaar" class="text-info"
                  >Adhaar Number</label
                ><br />
                <input
                  type="text"
                  id="citizenadhaar"
                  placeholder="XXXX XXXX XXXX"
                  maxlength="12"
                  class="form-control"
                  formControlName="citizenadhaar"
                  required
                />
                <span
                  class="text-danger"
                  *ngIf="
                    citizenloginform.controls['citizenadhaar'].dirty &&
                    citizenloginform.hasError('required', 'citizenadhaar')
                  "
                >
                  *adhaar number is required</span
                >
                <span
                  class="text-danger"
                  *ngIf="citizenloginform.hasError('pattern', 'citizenadhaar')"
                >
                  *adhaar number must be numbers</span
                >
              </div>
              <div class="form-group">
                <label for="citizenphoneno" class="text-info"
                  >Phone Number</label
                ><br />
                <input
                  type="text"
                  id="citizenphoneno"
                  class="form-control"
                  formControlName="citizenphoneno"
                  maxlength="10"
                  required
                />
                <span
                  class="text-danger"
                  *ngIf="
                    citizenloginform.controls['citizenphoneno'].dirty &&
                    citizenloginform.hasError('required', 'citizenphoneno')
                  "
                >
                  *phonenumber is required</span
                >
                <span
                  class="text-danger"
                  *ngIf="citizenloginform.hasError('pattern', 'citizenphoneno')"
                >
                  *phonenumber must be in number only
                </span>
              </div>
              <div class="form-group previous">
                <br />
                <button class="btn btn-info btn-md">
                  <a (click)="citizenLoginId(this.citizenloginform.value)"
                    >submit</a
                  >
                </button>
                <p class="text-danger" style="text-align: center">
                  {{ notify }}
                </p>
              </div>
              <br />&nbsp;
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
