<div class="body123">
  <nav class="nav nav-bar bg-grey align-items-center">
    <h3 class="text-center text-white col-md-12 pt-5">Citizen Login form</h3>
  </nav>
  <div id="login">
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">
            <form id="login-form" class="form" [formGroup]="citizenloginform">
              <h3 class="text-center text-info">Login</h3>
              <div class="form-group">
                <label for="citizenadhaar" class="text-info"
                  >Adhaar Number</label
                ><br />
                <input
                  type="citizenadhaar"
                  name="citizenadhaar"
                  id="citizenadhaar"
                  class="form-control"
                  formControlName="citizenadhaar"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    citizenloginform.controls['citizenadhaar'].touched &&
                    citizenloginform.hasError('required', 'citizenadhaar')
                  "
                >
                  *adhaar number is required</span
                >
              </div>
              <div class="form-group">
                <label for="citizenphoneno" class="text-info"
                  >Phone Number</label
                ><br />
                <input
                  type="citizenphoneno"
                  name="citizenphoneno"
                  id="citizenphoneno"
                  class="form-control"
                  formControlName="citizenphoneno"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    citizenloginform.controls['citizenphoneno'].touched &&
                    citizenloginform.hasError('required', 'citizenphoneno')
                  "
                >
                  *password is required</span
                >
              </div>
              <div class="form-group previous">
                <br />
                <button class="btn btn-info btn-md">
                  <a routerLink="/citizenmainpage">submit</a>
                </button>
              </div>
              <br />&nbsp;
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
