<nav class="nav navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h1>
      <a class="navbar-brand" href="#">Election Management Software</a>
    </h1>
    <div class="d-flex">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" [routerLink]="['home']">Home</a>
        <a class="nav-item nav-link" [routerLink]="['about']">About Us</a>
        <a class="nav-item nav-link" [routerLink]="['Notification']"
          >Notification</a
        >
        <a class="nav-item nav-link" [routerLink]="['Admin Login']"
          >Admin Login</a
        >
        <a class="nav-item nav-link" [routerLink]="['Citizen']"
          >Citizen Login</a
        >
        <a class="nav-item nav-link" [routerLink]="['Contact Us']"
          >Contact Us</a
        >
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
