<div class="heading1"><h1>Voting Page</h1></div>

<table class="table123" id="customers">
  <tr>
    <th>Party Name</th>
    <th>Candidate Name</th>
    <th>Vote</th>
  </tr>
  <tr *ngFor="let obj of object">
    <td>{{ obj.partyname1 }}</td>
    <td>{{ obj.candidatename1 }}</td>
    <td><button class="btn btn-info">Vote To Candidate</button></td>
  </tr>
  <tr *ngFor="let obj of object">
    <td>{{ obj.partyname2 }}</td>
    <td>{{ obj.candidatename2 }}</td>
    <td><button class="btn btn-info">Vote To Candidate</button></td>
  </tr>
  <tr *ngFor="let obj of object">
    <td>{{ obj.partyname3 }}</td>
    <td>{{ obj.candidatename3 }}</td>
    <td><button class="btn btn-info">Vote To Candidate</button></td>
  </tr>
  <tr *ngFor="let obj of object">
    <td>{{ obj.partyname4 }}</td>
    <td>{{ obj.candidatename4 }}</td>
    <td><button class="btn btn-info">Vote To Candidate</button></td>
  </tr>
  <tr *ngFor="let obj of object">
    <td>{{ obj.partyname5 }}</td>
    <td>{{ obj.candidatename5 }}</td>
    <td><button class="btn btn-info">Vote To Candidate</button></td>
  </tr>
</table>
