<div class="heading1"><h1>Voting Page</h1></div>

<table class="table123" id="customers">
  <caption>
    Voting Table
  </caption>
  <tr>
    <th>Candidate Name</th>
    <th>Party Name</th>

    <th>Vote</th>
  </tr>

  <tr>
    <td>{{ partydetails.candidatename1 }}</td>
    <td>{{ partydetails.partyname1 }}</td>
    <td>
      <button
        [disabled]="disable"
        class="btn btn-info"
        [value]="voteValue"
        (click)="
          voteDMK(
            partydetails.candidatename1,
            partydetails.partyname1,
            'voted',
            partydetails.boothno
          )
        "
      >
        Vote To Candidate
      </button>
    </td>
  </tr>
  <tr>
    <td>{{ partydetails.candidatename2 }}</td>
    <td>{{ partydetails.partyname2 }}</td>
    <td>
      <button
        [disabled]="disable"
        class="btn btn-info"
        (click)="
          voteDMK(
            partydetails.candidatename2,
            partydetails.partyname2,
            'voted',
            partydetails.boothno
          )
        "
      >
        Vote To Candidate
      </button>
    </td>
  </tr>
  <tr>
    <td>{{ partydetails.candidatename3 }}</td>
    <td>{{ partydetails.partyname3 }}</td>
    <td>
      <button
        [disabled]="disable"
        class="btn btn-info"
        (click)="
          voteDMK(
            partydetails.candidatename3,
            partydetails.partyname3,
            'voted',
            partydetails.boothno
          )
        "
      >
        Vote To Candidate
      </button>
    </td>
  </tr>
  <tr>
    <td>{{ partydetails.candidatename4 }}</td>
    <td>{{ partydetails.partyname4 }}</td>
    <td>
      <button
        [disabled]="disable"
        class="btn btn-info"
        (click)="
          voteDMK(
            partydetails.candidatename4,
            partydetails.partyname4,
            'voted',
            partydetails.boothno
          )
        "
      >
        Vote To Candidate
      </button>
    </td>
  </tr>
  <tr>
    <td>{{ partydetails.candidatename5 }}</td>
    <td>{{ partydetails.partyname5 }}</td>
    <td>
      <button
        [disabled]="disable"
        class="btn btn-info"
        (click)="
          voteDMK(
            partydetails.candidatename5,
            partydetails.partyname5,
            'voted',
            partydetails.boothno
          )
        "
      >
        Vote To Candidate
      </button>
    </td>
  </tr>
</table>
