<div class="container">
  <div class="content">
    <div class="left-side">
      <div class="address details">
        <div class="topic">Address</div>
        <div class="text-one">Ayanambakkam</div>
        <div class="text-two">Chennai 06</div>
      </div>
      <div class="phone details">
        <div class="topic">Phone</div>
        <div class="text-one">+0095 1412 3460</div>
        <div class="text-two">+0096 1234 1234</div>
      </div>
      <div class="email details">
        <div class="topic">Email</div>
        <div class="text-one">navithapzal@chainsys.com</div>
        <div class="text-two">info.Electionmanagement@gmail.com</div>
      </div>
    </div>
    <div class="right-side">
      <img
        src="../../assets/image/mentimote__1_.png"
        width="700"
        height="400"
        alt="contactus"
      />
    </div>
  </div>
</div>
