<h2>Citizen Details Table</h2>

<div class="table-wrapper">
  <table class="fl-table">
    <caption></caption>
    <thead>
      <tr>
        <th>Citizen Name</th>
        <th>Citizen Email</th>
        <th>Citizen Phone No</th>
        <th>Citizen Adhaar No</th>
        <th>Citizen DOB</th>
        <th>Citizen Booth No</th>
        <th>Citizen City</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of object">
        <td>{{ obj.citizenname }}</td>
        <td>{{ obj.citizenemail }}</td>
        <td>{{ obj.phonenumber }}</td>
        <td>{{ obj.citizenadhaar }}</td>
        <td>{{ obj.dob }}</td>
        <td>{{ obj.boothno }}</td>
        <td>{{ obj.citizencity }}</td>
        <td>
          <button
            class="text-danger btn btn-info"
            (click)="deletecitizendetail(obj, obj)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
