#mySidenav a {
        border-radius: 0 5px 5px 0;
        color: white;
        font-size: 20px;
        left: -188px;
        margin-top: 150px;
        padding: 8px;
        position: fixed;
        text-decoration: none;
        transition: 0.3s;
        width: 229px;
  }
#mySidenav a:hover {
        left: 0;
  }
  #managecitizen {
          background-color: #4f5251;
          top: 40px;
    }  
  #manageparty {
          background-color:rgb(2, 141, 221);
          top: 100px;
    }  
  #election {
          background-color: #4f5251;
          top: 160px;
    }
  #logout {
          background-color:rgb(2, 141, 221);
          top: 220px;
    }
img{
        height: 465px;
        margin-left: 360px;
        width: 686px;
  }
.text{
        color: rgb(25, 144, 223);
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 200%;
        font-weight: 1000;
        padding-left: 2%;
        text-align:center;
  }
#btn1{
        background-color: transparent;
        border: transparent;
        color: white;
        text-align: left;
        width: 100%;
  }
#btn2{
        background-color: transparent;
        border: transparent;
        color: white;
        text-align: left;
        width: 100%;
  }
#btn3{
        background-color: transparent;
        border: transparent;
        color: white;
        text-align: left;
        width: 100%;
  }
#btn4{
        background-color: transparent;
        border: transparent;
        color: white;
        text-align: left;
        width: 100%;
  }
#btn5{
        background-color: transparent;
        border: transparent;
        color: white;
        text-align: left;
        width: 100%;
  }
#btn6{
        background-color: transparent;
        border: transparent;
        color: white;
        text-align: left;
        width: 100%;
  }