<!-- <nav class="nav navbar bg-dark">
  <div class="sidebar">
    <h1>
      <a class="navbar-brand" href="#">Elect</a>
    </h1>
    <div class="d-flex">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['home1']">Home</a>
        <a class="nav-item nav-link" [routerLink]="['about1']">About</a>
        <a class="nav-item nav-link" [routerLink]="['administartion']"
          >Administration</a
        >
        <a class="nav-item nav-link" [routerLink]="['My Account']"
          >My Account
        </a>
        <a class="nav-item nav-link" [routerLink]="['Change Password']"
          >Change Password</a
        >
        <a class="nav-item nav-link" [routerLink]="['Log Out']">Log Out</a>
      </div>
    </div>
  </div>
</nav> -->
<div id="mySidenav" class="sidenav">
  <a href="#" id="about">About</a>
  <a href="#" id="blog">Blog</a>
  <a href="#" id="projects">Projects</a>
  <a href="#" id="contact">Contact</a>
</div>
<app-home></app-home>
