<nav class="nav navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h1>
      <a class="navbar-brand" href="#">Election Management Software</a>
    </h1>
    <div class="d-flex">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['home1']">Home</a>
        <a class="nav-item nav-link" [routerLink]="['about1']">About</a>
        <a class="nav-item nav-link" [routerLink]="['administartion']"
          >Administration</a
        >
        <a class="nav-item nav-link" [routerLink]="['My Account']"
          >My Account
        </a>
        <a class="nav-item nav-link" [routerLink]="['Change Password']"
          >Change Password</a
        >
        <a class="nav-item nav-link" [routerLink]="['Log Out']">Log Out</a>
      </div>
    </div>
  </div>
</nav>
<app-home></app-home>
