#mySidenav a {
  position: fixed;
  left: -188px;
  transition: 0.3s;
  padding: 8px;
  width: 229px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  margin-top: 150px;
}


#mySidenav a:hover {
  left: 0;
}
  /* The about link: 20px from the top with a green background */
  #managecitizen {
    top: 20px;
    background-color: #4f5251;
  }
  
  #manageparty {
    top: 80px;
    background-color:rgb(2, 141, 221); 
  }
  
 #managecandidate {
    top: 140px;
    background-color: #4f5251;
  }
  
  #managevoting {
    top: 200px;
    background-color: rgb(2, 141, 221);
  }
  /* #changepassword {
    top: 260px;
    background-color: #4f5251;  */
  
  #election {
    top: 260px;
    background-color: #4f5251;
  }
  #logout {
    top: 320px;
    background-color:rgb(2, 141, 221);
  }
img{
  width: 686px;
  height: 465px;
  margin-left: 360px;
  
}
.text{
  text-align:center;
  padding-left: 2%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 1000;
  font-size: 200%;
  color: rgb(25, 144, 223);
}
#btn1{
  color: white;
  background-color: transparent;
  border: transparent;
  width: 100%;
  text-align: left;
}
#btn2{
  color: white;
  background-color: transparent;
  border: transparent;
  width: 100%;
  text-align: left;
}
#btn3{
  color: white;
  background-color: transparent;
  border: transparent;
  width: 100%;
  text-align: left;
}
#btn4{
  color: white;
  background-color: transparent;
  border: transparent;
  width: 100%;
  text-align: left;
}
#btn5{
  color: white;
  background-color: transparent;
  border: transparent;
  width: 100%;
  text-align: left;
}
#btn6{
  color: white;
  background-color: transparent;
  border: transparent;
  width: 100%;
  text-align: left;
}