<div id="mySidenav" class="sidenav" class="btn-group dropright">
  <div>
    <a id="managecitizen"
      ><button id="btn1" routerLink="/managecitizen">Manage Citizens</button></a
    >
    <a id="manageparty"
      ><button id="btn1" routerLink="/manageparty">Manage Party</button></a
    >
    <a id="managecandidate"
      ><button id="btn1" routerLink="/partydetails">Party details</button></a
    >
    <a id="managevoting"
      ><button id="btn1" routerLink="/citizendetails">
        Citizen details
      </button></a
    >
    <a id="election"
      ><button id="btn1" routerLink="/managevoting">Voting Details</button></a
    >
    <a id="logout"><button id="btn1" routerLink="/login">Log Out</button></a>
  </div>
</div>
<div class="imgadm">
  <p class="text">Administration</p>
  <img
    src="../../assets/image/1_Y8dmiLtZuA7fCgBxpM4XPw.gif"
    alt="administartion"
  />
</div>
