<div class="heading1"><h1>Voting Page</h1></div>

<table class="table123" id="customers">
  <caption></caption>
  <div>
    <td class="bg-primary">{{ alldata1.boothid }}</td>
    <th>{{ alldata1.boothno }}</th>
  </div>
  <tr>
    <th>Candidate Name</th>
    <th>Party Name</th>
    <th>Vote</th>
  </tr>

  <tr>
    <td>{{ alldata1.candidatename1 }}</td>
    <td>{{ alldata1.partyname1 }}</td>
    <td class="text-danger">Vote-{{ this.DMK1 }}</td>
  </tr>
  <tr>
    <td>{{ alldata1.candidatename2 }}</td>
    <td>{{ alldata1.partyname2 }}</td>
    <td class="text-danger">Vote-{{ this.NGK1 }}</td>
  </tr>
  <tr>
    <td>{{ alldata1.candidatename3 }}</td>
    <td>{{ alldata1.partyname3 }}</td>
    <td class="text-danger">Vote-{{ this.ADMK1 }}</td>
  </tr>
  <tr>
    <td>{{ alldata1.candidatename4 }}</td>
    <td>{{ alldata1.partyname4 }}</td>
    <td class="text-danger">Vote-{{ this.KGF1 }}</td>
  </tr>
  <tr>
    <td>{{ alldata1.candidatename5 }}</td>
    <td>{{ alldata1.partyname5 }}</td>
    <td class="text-danger">Vote-{{ this.NOTA1 }}</td>
  </tr>
</table>

<table class="table123" id="customers">
  <caption></caption>
  <div>
    <td class="bg-primary">{{ alldata2.boothid }}</td>
    <th>{{ alldata2.boothno }}</th>
  </div>
  <tr>
    <th>Candidate Name</th>
    <th>Party Name</th>
    <th>Vote</th>
  </tr>

  <tr>
    <td>{{ alldata2.candidatename1 }}</td>
    <td>{{ alldata2.partyname1 }}</td>
    <td class="text-danger">Vote-{{ this.DMK2 }}</td>
  </tr>
  <tr>
    <td>{{ alldata2.candidatename2 }}</td>
    <td>{{ alldata2.partyname2 }}</td>
    <td class="text-danger">Vote-{{ this.NGK2 }}</td>
  </tr>
  <tr>
    <td>{{ alldata2.candidatename3 }}</td>
    <td>{{ alldata2.partyname3 }}</td>
    <td class="text-danger">Vote-{{ this.ADMK2 }}</td>
  </tr>
  <tr>
    <td>{{ alldata2.candidatename4 }}</td>
    <td>{{ alldata2.partyname4 }}</td>
    <td class="text-danger">Vote-{{ this.KGF2 }}</td>
  </tr>
  <tr>
    <td>{{ alldata2.candidatename5 }}</td>
    <td>{{ alldata2.partyname5 }}</td>
    <td class="text-danger">Vote-{{ this.NOTA2 }}</td>
  </tr>
</table>

<table class="table123" id="customers">
  <caption></caption>
  <div>
    <td class="bg-primary">{{ alldata.boothid }}</td>
    <th>{{ alldata.boothno }}</th>
  </div>
  <tr>
    <th>Candidate Name</th>
    <th>Party Name</th>
    <th>Vote</th>
  </tr>

  <tr>
    <td>{{ alldata.candidatename1 }}</td>
    <td>{{ alldata.partyname1 }}</td>
    <td class="text-danger">Vote-{{ this.DMK }}</td>
  </tr>
  <tr>
    <td>{{ alldata.candidatename2 }}</td>
    <td>{{ alldata.partyname2 }}</td>
    <td class="text-danger">Vote-{{ this.NGK }}</td>
  </tr>
  <tr>
    <td>{{ alldata.candidatename3 }}</td>
    <td>{{ alldata.partyname3 }}</td>
    <td class="text-danger">Vote-{{ this.ADMK }}</td>
  </tr>
  <tr>
    <td>{{ alldata.candidatename4 }}</td>
    <td>{{ alldata.partyname4 }}</td>
    <td class="text-danger">Vote-{{ this.KGF }}</td>
  </tr>
  <tr>
    <td>{{ alldata.candidatename5 }}</td>
    <td>{{ alldata.partyname5 }}</td>
    <td class="text-danger">Vote-{{ this.NOTA }}</td>
  </tr>
</table>
