<div class="heading1"><h1>Voting Page</h1></div>

<table class="table123" id="customers">
  <caption></caption>
  <tr>
    <th>Candidate Name</th>
    <th>Party Name</th>
    <th>Vote</th>
  </tr>

  <tr>
    <td>{{ alldata.candidatename1 }}</td>
    <td>{{ alldata.partyname1 }}</td>
    <td></td>
  </tr>
  <tr>
    <td>{{ alldata.candidatename2 }}</td>
    <td>{{ alldata.partyname2 }}</td>
    <td></td>
  </tr>
  <tr>
    <td>{{ alldata.candidatename3 }}</td>
    <td>{{ alldata.partyname3 }}</td>
    <td></td>
  </tr>
  <tr>
    <td>{{ alldata.candidatename4 }}</td>
    <td>{{ alldata.partyname4 }}</td>
    <td></td>
  </tr>
  <tr>
    <td>{{ alldata.candidatename5 }}</td>
    <td>{{ alldata.partyname5 }}</td>
    <td></td>
  </tr>
</table>
