<form [formGroup]="citizenuserpage">
  <h1>Citizen User Page for Voting Access</h1>
  <p>Enter the Details</p>
  <div class="column">
    <br />
    <label for="citizenname">Citizen Name</label>
    <input
      type="text"
      id="citizenname"
      name="citizenname"
      formControlName="citizenname"
      required
    />
    <span
      class="text-danger"
      *ngIf="
        citizenuserpage.controls['citizenname'].touched &&
        citizenuserpage.hasError('required', 'citizenname')
      "
    >
      *citizen name is required</span
    >

    <span
      class="text-danger"
      *ngIf="
        citizenuserpage.controls['citizenname'].touched &&
        citizenuserpage.hasError('pattern', 'citizenname')
      "
    >
      *citizen name must not entered number</span
    >

    <label for="citizenemail">Citizen Email</label>
    <input
      type="text"
      id="citizenemail"
      name="citizenemail"
      formControlName="citizenemail"
      required
    />
    <span
      class="text-danger"
      *ngIf="
        citizenuserpage.controls['citizenemail'].touched &&
        citizenuserpage.hasError('required', 'citizenemail')
      "
    >
      *citizen email is required</span
    >
    <span
      class="text-danger"
      *ngIf="
        citizenuserpage.controls['citizenemail'].touched &&
        citizenuserpage.hasError('pattern', 'citizenemail')
      "
    >
      *citizen email must entered correct format
    </span>

    <label for="citizenadhaar">Aadhaar No</label>
    <input
      type="text"
      id="citizenadhaar"
      name="citizenadhaar"
      maxlength="12"
      formControlName="citizenadhaar"
      required
    />
    <span
      class="text-danger"
      *ngIf="
        citizenuserpage.controls['citizenadhaar'].touched &&
        citizenuserpage.hasError('required', 'citizenadhaar')
      "
    >
      *citizen adhaar is required</span
    >
    <span
      class="text-danger"
      *ngIf="
        citizenuserpage.controls['citizenadhaar'].touched &&
        citizenuserpage.hasError('pattern', 'citizenadhaar')
      "
    >
      *citizen adhaar must entered only numbers
    </span>

    <label for="dob">Citizen Date of Birth</label>
    <input
      type="date"
      id="dob"
      name="dob"
      formControlName="dob"
      required
      max="{{ maxDate }}"
    />
    <span
      class="text-danger"
      *ngIf="
        citizenuserpage.controls['dob'].touched &&
        citizenuserpage.hasError('required', 'dob')
      "
    >
      *citizen dob is required</span
    >

    <label for="phonenumber">Citizen Phone Number</label>
    <input
      type="text"
      id="phonenumber"
      name="phonenumber"
      maxlength="10"
      formControlName="phonenumber"
      required
    />
    <span
      class="text-danger"
      *ngIf="
        citizenuserpage.controls['phonenumber'].touched &&
        citizenuserpage.hasError('required', 'phonenumber')
      "
    >
      *citizen phonenumber is required</span
    >
    <span
      class="text-danger"
      *ngIf="
        citizenuserpage.controls['phonenumber'].touched &&
        citizenuserpage.hasError('pattern', 'phonenumber')
      "
    >
      *citizen phonenumber must entered number only</span
    >
  </div>

  <div class="column">
    <label for="boothid">Citizen Booth Id</label>
    <select
      name="boothid"
      id="boothid"
      formControlName="boothid"
      (change)="boothidChange($event)"
    >
      <option value="Pgnagar">Pgnagar</option>
      <option value="Ganganagar">Ganganagar</option>
      <option Value="Ngnagar">Ngnagar</option>
    </select>

    <span
      class="text-danger"
      *ngIf="
        citizenuserpage.controls['boothid'].touched &&
        citizenuserpage.hasError('required', 'boothid')
      "
    >
      *citizen booth id is required</span
    >

    <div class="column">
      <label hidden for="boothno">Citizen Booth No</label>
      <input
        hidden
        type="text"
        id="boothno"
        name="boothno"
        formControlName="boothno"
      />
      <span
        class="text-danger"
        *ngIf="
          citizenuserpage.controls['boothno'].touched &&
          citizenuserpage.hasError('required', 'boothno')
        "
      >
        *citizen booth number is required</span
      >

      <label for="citizenadress">Citizen Address</label>
      <input
        type="text"
        id="citizenadress"
        name="booth"
        formControlName="citizenadress"
      />
      <span
        class="text-danger"
        *ngIf="
          citizenuserpage.controls['citizenadress'].touched &&
          citizenuserpage.hasError('required', 'citizenadress')
        "
      >
        *citizen adress is required</span
      >

      <label for="citizencity">Citizen City</label>
      <select
        type="text"
        id="citizencity"
        name="citizencity"
        formControlName="citizencity"
      >
        <Option value="COIMBATORE">COIMBATORE</Option>
        <Option value="TIRUPPUR">TIRUPPUR</Option>
        <Option value="SALEM">SALEM</Option>
        <Option value="MADURAI">MADURAI</Option>
        <Option value="KANYAKUMARI">KANYAKUMARI</Option>
        <Option value="CHENNAI">CHENNAI</Option>
        <Option value="SIVAGANGAI">SIVAGANGAI</Option>
      </select>

      <span
        class="text-danger"
        *ngIf="
          citizenuserpage.controls['citizencity'].touched &&
          citizenuserpage.hasError('required', 'citizencity')
        "
      >
        *citizen city is required</span
      >

      <label for="citizenstate">Citizen state</label>
      <select
        type="text"
        id="citizenstate"
        name="citizenstate"
        formControlName="citizenstate"
      >
        <option value="TAMILNADU">TAMILNADU</option>
        <option value="KERALA">KERALA</option>
      </select>

      <span
        class="text-danger"
        *ngIf="
          citizenuserpage.controls['citizenstate'].touched &&
          citizenuserpage.hasError('required', 'citizenstate')
        "
      >
        *citizen state is required</span
      >
      &nbsp;
      <br />
      <button
        class="btn btn-info btn-md"
        type="submit"
        (click)="citizenuser(this.citizenuserpage.value)"
      >
        submit
      </button>
    </div>
  </div>
</form>
