<div id="mySidenav" class="sidenav" class="btn-group dropright">
  <div>
    <a id="home"><button id="btn1" routerLink="/managecitizen">Home</button></a>
    <a id="about"
      ><button id="btn1" routerLink="/citizenaboutpage">About</button></a
    >
    <a id="vote"
      ><button id="btn1" routerLink="/votecitizenpage">Vote</button></a
    >
    <a id="logout"
      ><button id="btn1" routerLink="/logouttocitizenlogin" (click)="logout()">
        Log Out
      </button></a
    >
  </div>
</div>
<div class="imgadm">
  <img
    src="../../assets/image/shutterstock_1222770484.2e16d0ba.fill-1200x630.jpg"
    alt="citizenmainpage"
  />
</div>
